/*
```CSS
*/

h1 {
    color: blue;
    width:200px;
    border: 3px solid red;
    margin: 20px;
    padding: 20px
}
/*
  Border= Borda
  Margin= Margem
  Pdding= Preenchimento
*/

/*
  *
  (Seletor global)
*/

#object1, #object2 {
  color: green;
  width: 200px;
  font-size: 60px;
  background: pink;
  margin: 25px;
}

/*
  Codepen.io
*/

