<!DOCTYPE html>
<%- include('head') %>
<body class="container">
    <%- include('header'); %>
    <main>
        <div class="jumbotron">
            <h1>About me</h1>
            <p>Hello guys, welcome to my person page.<br>
            In here I will say a little about me, about my job and my path to here</p>
        </div>
    </main>
    <%- include('footer'); %>
</body>
</html>